@import url('https://fonts.googleapis.com/css2? família= Lagosta &family= Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 & display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sem serifa;
}

.navbar{
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
    
}
.logo h1{
    font-family: 'Lobster', cursiva;
    color: rgb(12, 55, 148);
    font-size: 34px;
}

.menu{
    flex: 70%;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: right;
    padding: 20px;
}
.menu a{
    color:rgb(12, 55, 148); 
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.menu a:hover{
    color: rgb(243, 0, 203);
    border-top: 4px solid rgb(42, 8, 233);
}

#botao{
    background: rgb(42, 8, 233);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;

}
#botao:hover{
    border: none;
    background: rgb(243, 0, 203);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}

.headline{
    margin-left: 10%;
    flex:40%;
    /* border: 1px solid black; */   
}
.headline h2{
    font-weight: 900;
    color: rgb(42, 8, 233);
    padding: 0;
    margin: 0;
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background: rgb(243, 0, 203);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: rgb(42, 8, 233);
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgb(42, 8, 233);
}

.servicos{
    display: inline-block;
    margin-top: 5%;  
}

.texto-oculto{
    display: none;
    padding: 25px;
    
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid palevioletred;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background: rgb(243, 0, 203);
    color: white;
}

.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 200px;
    height: 400px;
    background-image: linear-gradient(180deg,  rgb(42, 8, 233),  rgb(11, 0, 75),  rgb(8, 1, 48));
    text-align: center;
    border-top: 5px solid rgb(243, 0, 203);
}

.logo-rodape{
    padding: 100px; 
}

.agencia{
    font-family: 'Lobster', cursiva;
    color: white;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 200px;
    right: 5px;
}
